<template>
  
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <form @submit.prevent="validateInit">
          <!-- <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input
              type="text"
              class="form-control"              
              v-model="userData.name"
              placeholder="Ej: Pedro"
              required
            />
          </div> -->
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input              
              class="form-control"
             type="email" v-model="userData.email" placeholder="Ej: pedro@gmail.com" required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <div class="input-group mb-3">
              <input
                :type="passInputType"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                v-model="userData.password"
                required
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  @click.prevent="isShowPass"
                >
                  <span class="material-icons md-18 d-flex align-self-center">{{
                    showPassIcon
                  }}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Re-Password</label>
            <div class="input-group mb-3">
              <input
                :type="passInputType"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                v-model="repassword"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  @click.prevent="isShowPass"
                >
                  <span class="material-icons md-18 d-flex align-self-center">{{
                    showPassIcon
                  }}</span>
                </button>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-lg btn-block btn-success"                       
          >
            Register
          </button>          
        </form>
      </div>
    </div>
  
</template>
<script>
import { mixShowHidePass } from "@/mixins/mixShowHidePass";
import { mixSignInUpValidate } from "@/mixins/mixSignInUpValidate";
export default {
  name: "BaseRegister",
  mixins:[
      mixShowHidePass,
      mixSignInUpValidate
  ],
  data() {
      return{          
      }
  },
  methods: {
    // resetForm() {
    //   this.name = this.userData.email = this.userData.password = "";
    // },
    async checkRegister() {
      //this.isLoading = true;
      try {
        await this.$store.dispatch("userMod/setRegister", {
          name: this.validUserData.name,
          email: this.validUserData.email,
          password: this.validUserData.password,
        });
        this.resetForm();
        this.$store.dispatch("userMod/setIsRegister");
      } catch (error) {
        this.formMsg = error.message;
        console.error(error.message);
      } finally {
        this.isLoading = false;
        setTimeout(() => {
          this.$toasted.show('Registrado con exito', { 
            theme: "toasted-primary", 
            type: this.msg.type,
            icon:"lock_open",
            position: "bottom-center", 
            duration : 3000,
            fullWidth: true,
        });
        }, 1000);
      }
    },
  },
};
</script>

