<template>
  <div>
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <form @submit.prevent="validateInit" :class="this.errors ? 'errors' : false">
          <div class="form-group">
            <label for="exampleInputEmail1">Email </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              v-model="userData.email"
              placeholder="Ingresa tu email"
              required
              @invalid="invalidateForm"
            />
            <span class="error-message">Por favor ingresa un Email</span>
          </div>
          <template v-if="!isResetPass">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <div class="input-group mb-3">
                <input
                  :type="passInputType"
                  class="form-control"
                  placeholder="Ingresa tu contraseña"
                  v-model="userData.password"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    @click.prevent="isShowPass"
                  >
                    <span
                      class="material-icons md-18 d-flex align-self-center"
                      >{{ showPassIcon }}</span
                    >
                  </button>
                </div>
              </div>
              <span class="error-message">Por favor ingresa una contraseña</span>
            </div>
            <button
              type="submit"
              class="btn btn-lg btn-block btn-success"
            >
              Login
            </button>
          </template>
          <template v-else>
            <div class="">
              <p class="">
                Escribe un mail donde enviaremos un link para restablecer tu contraseña.
              </p>              
              <button @click="newPassword" class="btn btn-primary btn-block">Enviar</button>              
            </div>
          </template>
        </form>
        <a v-if="!isResetPass" href="#" @click.prevent="showNewPass" 
          >Cambiar o restablecer contraseña?</a
        >
      </div>
    </div>
  </div>
</template>
<script>
import { mapState} from "vuex";
import { mixShowHidePass } from "@/mixins/mixShowHidePass";
import { mixSignInUpValidate } from "@/mixins/mixSignInUpValidate";
export default {
  name: "BaseLogin",
  mixins:[
      mixShowHidePass,
      mixSignInUpValidate
  ],
  data() {
    return {
      isShow: false,
      resetPassTxt:'',
      isResetPass: null,
      errors: false,
    }
  },
  methods: {   
    resetForm() {
      this.name = this.userData.email = this.userData.password = "";
    },
    async checkLogin() {
      this.isLoading = true;
      try {
        await this.$store.dispatch("userMod/setLogin", {
          email: this.userData.email,
          password: this.userData.password,
        });
        // this.redirect();
      } catch (error) {
        this.formMsg = error.message;
        console.error(error.message);
      } finally {
        this.isLoading = false;
        setTimeout(() => {
          this.$toasted.show(this.loginMessage, { 
            theme: "toasted-primary", 
            icon:"person",
            type: "dark",
            position: "bottom-center", 
            duration : 3000,
            fullWidth: true,
        }); 
        this.redirect();
        }, 1000);
      }
    },        
    mostrarRegistro() {
      this.isShow = !this.isShow;
      this.isShow ? (this.txtBtn = "Registrar") : (this.txtBtn = "Ir a login");
    },
    async newPassword() {
      this.isLoading = true;
      try {
        await this.$store.dispatch(
          "userMod/setNewPassword",
          this.userData.email
        );
        this.showNewPass();
        this.resetForm();
      } catch (error) {
        console.error(error.message);
      } finally {
        this.isLoading = false;
        alert('Tu nueva clave se envió con éxito')
      }
    },
    showNewPass() {
      this.isResetPass = !this.isResetPass;
    },
    invalidateForm() {
      this.errors = true;
    }
  },
  computed: {
    ...mapState("userMod", {
      isLogin: (state) => state.user,
      loginMessage: state => state.loginMsg
    }),
    isBlock() {
      return this.password != this.rePassword ? true : false;
    },
  },
};
</script>