<template>
<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Profe Admin</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="btn btn-lg  bg-light md-36 material-icons" @click="doLogout()">person_off</button>
          </li>
        </ul>
    </div>
</nav>
  <!-- end nav  -->
  <section class="bg-white">
    <article v-if="isShowForm" class="container py-4">
      <h1>Profile:</h1>
      <form action="" @submit.prevent="checkForm">
        <!-- <button class="btn btn-primary" v-if="dbUser" @click="refreshForm">Editar Perfil</button> -->
        <div class="form-group">
          <label for="fieldNombre">Nombre</label>
          <input type="text" class="form-control" id="fieldNombre" v-model="profile.firstName">
        </div>

        <div class="form-group">
          <label for="fieldApellido">Apellido</label>
          <input type="text" class="form-control" id="fieldApellido" v-model="profile.lastName">
        </div>

        <div class="form-group pt-3">
          <h5 for="fieldDescripcion">Sobre mí:</h5>
          <textarea class="form-control" id="fieldDescripcion" rows="3" v-model="profile.description"></textarea>
        </div>
        <div class="form-group border-bottom py-3">
          <h5>Actividad:</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkGym" v-model="profile.checkGym.checkedGym">
            <label class="form-check-label" for="checkGym">Gym</label>
          </div> 
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkDance" v-model="profile.checkDance.checkedDance">
            <label class="form-check-label" for="checkDance">Dance</label>
          </div>
          
        </div>
        <template  v-if="isShowCheckGym">
          <transition name="slide-fade">
          <div class="form-group border-bottom pb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkFuncional" value="Funcional" v-model="profile.checkGym.gym">
            <label class="form-check-label" for="checkFuncional">Funcional</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkLocalizada"  value="Localizada" v-model="profile.checkGym.gym">
            <label class="form-check-label" for="checkLocalizada">Localizada</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkYoga"  value="Yoga" v-model="profile.checkGym.gym">
            <label class="form-check-label" for="checkYoga">Yoga</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkPilates"  value="Pilates" v-model="profile.checkGym.gym">
            <label class="form-check-label" for="checkPilates">Pilates</label>
          </div>
        </div>
          </transition> 
        </template>      
        <template v-if="isShowCheckDance">
          <transition name="slide-fade">
        <div class="form-group border-bottom pb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkArabe"  value="Árabe" v-model="profile.checkDance.dance">
            <label class="form-check-label" for="checkArabe">Árabe</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkTango" value="Tango" v-model="profile.checkDance.dance">
            <label class="form-check-label" for="checkTango">Tango</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkCont" value="Contemporánea" v-model="profile.checkDance.dance">
            <label class="form-check-label" for="checkCont">Contemporánea</label>
          </div>
        </div>
          </transition>
        </template>
        <div class="form-group py-3">
          <h5>Clases vía:</h5>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkStreaming" value="Streaming" v-model="profile.streaming">
            <label class="form-check-label" for="checkStreaming">Streaming</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkAireLibre" value="Aire Libre" v-model="profile.dir">
            <label class="form-check-label" for="checkAireLibre">Aire Libre</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkGimnasio" value="Gimnasio">
            <label class="form-check-label" for="checkGimnasio">Gimansio</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkAcademia"  value="Academia">
            <label class="form-check-label" for="checkAcademia">Academia</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkParticular" value="Particular">
            <label class="form-check-label" for="checkParticular">Particular</label>
          </div>
        </div>
        <template v-if="isShowInputLink">
          <transition name="slide-fade">
        <div class="form-group border-bottom pb-3 ">
            <label for="fieldLink">Link de Clases</label>
            <input type="text" class="form-control bg-info" placeholder="Ingresar" id="fieldLink" v-model="profile.urlClass">
          </div>
          </transition>  
        </template>
        <template  v-if="isShowInputDir">
          <transition name="slide-fade">
            <div class="form-group border-bottom pb-3">
              <label for="fieldDirección">Dirección</label>
              <input type="text" class="form-control bg-info" placeholder="Ingresar" id="fieldDirección" v-model="profile.urlClass">
            </div>
          </transition>
        </template>  
        <div class="form-group">
          <label for="fieldMailContacto">Mail de contacto</label>
          <input type="text" class="form-control" id="fieldMailContacto" v-model="profile.mailContacto">
        </div>
        <div class="form-group">
          <label for="fieldWsp">Whatsapp</label>
          <input type="text" class="form-control" id="fieldWsp" v-model="profile.wsp">
        </div>

        <div class="form-group">
          <label for="fieldInstagram">Instagram</label>
          <input type="text" class="form-control" id="fieldInstagram" v-model="profile.instagram">
        </div>

        <div class="form-group">
          <label for="fieldFacebook">Facebook</label>
          <input type="text" class="form-control" id="fieldFacebook" v-model="profile.facebook">
        </div>

        <div class="form-group pt-3">
          <h5 for="profilePicture">Subir foto de perfil:</h5>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="profilePicture">
              <label class="custom-file-label" for="profilePicture">Choose file</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-success">Guardar</button> 
           
      </form>
    </article>

    <article v-else class="container py-4 text-center">
      <div class="container pb-3">
        <h1>Hola {{dbUser.firstName}}!</h1>
        <p>{{dbUser.description}}</p>
        <small>Si quieres modificar tus datos y preferencias edita el perfil aquí.</small>
      </div>
      <button class="btn btn-primary" @click="refreshForm">Editar Perfil</button>
    </article>

    <!-- <article v-if="isShowSpinner" class="d-flex justify-content-center align-self-center py-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </article> -->

  </section>
</div>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapState } from 'vuex'
export default {
  name: "Dashboard",
  data() {
    return {
      isShowForm: false,
      isShowInfo: false,
      // isShowSpinner: false,
      errors: [],
      profile:{
        firstName: null,
        lastName: null,
        description: null,
        checkGym:{   
          checkedGym: false,
          gym:[],     
        },
        checkDance:{  
          checkedDance: false,
          dance:[],
        },
        streaming:false,
        dir:false,
        meta:{
          timeStamp: Date.now(),
        },
       
      },
      isLoading:true
    };
  },
  mounted() {
    this.createDom()
  },
  methods: {
    async checkForm() {
      this.isLoading = true;
      try {
        await this.$store.dispatch("profileMod/addProfile", 
           [this.profile, this.user.uid]
        );
      } catch (error) {
          console.error(error.message);
      } finally {
          this.isLoading = false;
          setTimeout(() => {
            this.$toasted.show(this.msg.message, { 
            theme: "toasted-primary", 
            type: this.msg.type,
            icon:"lock_open",
            position: "bottom-center", 
            duration : 3000,
            fullWidth: true,
          });
        }, 500);
        // this.isShowForm = false
         this.dbUser != null ? this.isShowForm = false : this.isShowForm = true

      }
    },
    async createDom() {
      try {
        // this.isShowSpinner = true
        await this.$store.dispatch('profileMod/getProfile', this.user.uid)
        
        this.dbUser != null ? this.isShowForm = false : this.isShowForm = true
    
      } catch (error) {
          console.log(error);
      } finally {
          // this.isShowSpinner = false
          this.isShowInfo = true
      }
    },
     ...mapActions({
      userLogout: 'userMod/setLogout'
    }),
    doLogout() {
      this.userLogout();
      this.$router.push({name: 'Login'});
    },
    refreshForm() {
      return this.dbUser ? this.profile = this.dbUser : null,
      this.isShowForm = !this.isShowForm
    },
  },
  computed:{
    ...mapState('userMod', {
      user: state => state.user,
    }),
    ...mapState('profileMod', {
      dbUser: state => state.dbUser,
      msg: state => state.message
    }),
    isShowCheckGym(){
      return this.profile.checkGym.checkedGym
    },
    isShowCheckDance(){
      return this.profile.checkDance.checkedDance
    },
    isShowInputLink(){
      return this.profile.streaming
    },
    isShowInputDir(){
      return this.profile.dir
    },
  },
};
</script>

