<template>
  <section>
    <article>
      <div class="container">
        <h2 class="title text-center">Profe Admin</h2>
        <div>
          <template v-if="!isRegister">
            <BaseLogin />
          </template>
          <template v-else>
            <BaseRegister :isRegister="true" />
          </template>
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <button
              @click="signInUp"
              class="btn btn-block btn-outline-secondary mt-2 "
            >
              {{ signInUpText }}
            </button>
            </div>
          </div>
        </div>
        <template v-if="isLogin">
          <div class="row">
            <div class="mt-2 col-lg-4 mx-auto">
              <button
                @click="doLogout()"
                class="btn btn-block btn-outline-secondary"
              >
                Logout
              </button>
            </div>
          </div>
        </template>
      </div>
    </article>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
import BaseLogin from "@/components/share-tools/BaseLogin";
import BaseRegister from "@/components/share-tools/BaseRegister";
export default {
  name: "Login",
  data() {
    return {};
  },
  methods: {
    signInUp() {
      this.actionRegister();
    },
    ...mapActions({
      actionRegister: "userMod/setIsRegister",
      userLogout: "userMod/setLogout",
    }),
    doLogout() {
      this.userLogout();
    },
  },
  computed: {
    ...mapState("userMod", {
      isRegister: (state) => state.isRegister,
      signInUpText: (state) => (state.isRegister ? "Ingresar" : "Registrarme"),
      isLogin: (state) => state.user,
    }),
  },
  components: {
    BaseLogin,
    BaseRegister,
  },
};
</script>
