<template>
  <div id="app">
     <BaseLayout />
  </div>
</template>
<script>
   import BaseLayout from '@/components/layout/BaseLayout'
   export default {
      components:{
         BaseLayout
      }
   }
</script>

<style lang="scss">
  
</style>
